# Code owners are automatically requested for review on pull requests.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Later rules take precedence over earlier ones.

# Default owner for everything in the repository
*       @alvarog2491
